<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>登录 - Wifi</title>
    <meta name="keywords" content="mtons,$!{site_keywords}">
    <meta name="description" content="$!{site_description}">
    <!-- v3 -->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendors/bootstrap/css/bootstrap.min.css')}} ">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/login.css')}}">
    <link rel="stylesheet" href=" {{ url_for('static',filename='assets/vendors/animate/animate.min.css')}}">

    <!-- JavaScript -->
    <script type="text/javascript" src="{{ url_for('static',filename='assets/js/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='assets/js/jquery-migrate-1.2.1.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='assets/vendors/bootstrap/js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='assets/vendors/validate/jquery.validate.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='assets/vendors/validate/messages_zh.min.js')}}"></script>


<script type="text/javascript" src="{{ url_for('static',filename='assets/js/layer/layer.js')}}"></script>


</head>
<body class="sign">
<div class="login">


    <a href="./sigin">
        <img src="{{ url_for('static',filename='assets/images/logo/m90.png')}}" height="72" width="72">
    </a>
    <h1>基于深度学习的行人检测系统</h1>
    <hr>
    <form action="/sigin" method="post">
        <div id="message">
        </div>
        <label for="id_email">登录名:</label>
        <div id="id_email">
            <input name="username" id="user" class="form-control border" placeholder="用户名" type="text" data-required>
        </div>
        <label for="id_password">密码:</label>
        <div id="id_password">
            <input name="password" id="pass" class="form-control border" placeholder="密码" type="password" data-required>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="rememberMe" value="1"> 记住登录？
            </label>
        </div>

        <div style="margin-top: 15px;">
            <input type="submit" class="btn btn-success border" value="登录 Use it">

            <div class="forgot">
                <a href="/regist">
                    注册
                </a>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

    $(function () {

    	$("form").validate({
			debug:true, //只验证，不提交
			rules : {
				username : {
					required : true,
					minlength : 3
				},
				password : {
					required : true,
					minlength : 5
				}
			},
			messages : {
				username : {
					required : "请输入用户名",
					minlength : "用户名长度不能小于3"
				},
				password : {
					required : "请输入登录密码",
					minlength : "密码长度不能小于 5"
				}
			},
			errorPlacement: function(error, element) {
				element.popover('destroy');
				element.popover({
					content:error[0].innerHTML
				});
				element.click();
				element.closest('div').removeClass('has-success').addClass('has-error');
			},
			success:function(a, b) {
				$(b).parent().removeClass('has-error').addClass('has-success');
				$(b).popover('destroy');
			},

            //测试
            // submitHandler:function(form){
			 //    $.post('/public/login',$(form).serialize(),function (data) {
            //
            //     })
            // }
            
            submitHandler:function(form){ //验证通过执行这里
				var layer1 = layer.msg('正在处理登录信息...', {
					icon: 16
					,shade: 0.5,
					time:0,
				});

				$.ajax({
					   type: "POST",
					   url: "login",
					   data: $(form).serialize(),
					   success: function(data){
						    layer.close(layer1);
			            	if(data.code==100){
			            		layer.msg('密码或账号错误，请重新登录！', {icon: 6});
			            		setTimeout(function(){
			            			window.location.href='/';
			            		},1300);
			            	}
			            	if(data.code==200){
			            		layer.msg('恭喜，登录成功，2秒后为您跳转到个人中心!', {icon: 6});
			            		setTimeout(function(){
			            			window.location.href='/sucess';
			            		},2000);
			            	}
						},
						error:function(XMLHttpRequest, textStatus, errorThrown) {
							layer.close(layer1);
							layer.msg('服务器通讯错误', {icon: 5});
						}
				});

	        }
		});
    })
</script>




    <script type="text/javascript">
        //<!CDATA[
        var bodyBgs = [];
        bodyBgs[0] = "{{ url_for('static',filename='assets/images/first/bg-1.jpg')}}";
        bodyBgs[1] = "{{ url_for('static',filename='assets/images/first/bg-2.jpg')}}";
        bodyBgs[2] = "{{ url_for('static',filename='assets/images/first/bg-3.jpg')}}";
        bodyBgs[3] = "{{ url_for('static',filename='assets/images/first/bg-4.jpg')}}";
        bodyBgs[4] = "{{ url_for('static',filename='assets/images/first/bg-5.jpg')}}";
        bodyBgs[5] = "{{ url_for('static',filename='assets/images/first/bg-9.jpg')}}";
        var randomBgIndex = Math.round( Math.random() * 5 );
        //输出随机的背景图
        document.write('<style>body{background:url(' + bodyBgs[randomBgIndex] + ') no-repeat 100% 0}</style>');
        //]]>
    </script>
</body>
</html>


