<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>

	   <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/font-awesome.min.css')}}">
		<link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='css/reset.css')}} "/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/page.css')}} "/>

</head>
<body>
<h2 align="center">欢迎登陆行人检测系统 </h2>
<div id="myCarousel" class="carousel slide">
	<!-- 轮播（Carousel）指标 -->
	<div class="lunbo_container">
			<img src="{{ url_for('static',filename='img/02.jpg')}} "/>
			<ul class="pointer">
				<li id="li_1"></li>
				<li id="li_2"></li>
				<li id="li_3"></li>
				<li id="li_4"></li>
			</ul>
		</div>
	<script type="text/javascript">
			var imgs = ['01.jpg','02.jpg','03.jpg','04.jpg'];
			var index = 1;
			var intervalId = window.setInterval(function(){
				index++;
			if(index==imgs.length+1){
				index = 1;
			}
			document.querySelector(".lunbo_container img").src = "{{ url_for('static',filename='img/03.jpg')}}";
			},4000);
			//当鼠标移动上去，停止切换
			document.querySelector(".lunbo_container img").onmouseover = function(){
				window.clearInterval(intervalId);
			}
			//移开继续切换
			document.querySelector(".lunbo_container img").onmouseout = function(){
			intervalId = window.setInterval(function(){
			//切换到下一张
			index++;
			if(index==imgs.length+1){
				index = 1;
			}
			document.querySelector(".lunbo_container img").src = "{{ url_for('static',filename='img/03.jpg')}}";
			//修改li的样式
			var lis = document.querySelectorAll(".lunbo_container li");
			for(var i=0;i<lis.length;i++){
				lis[i].style.borderColor = "silver";
			}
			lis[index-1].style.borderColor = "grey";
			console.log(intervalId);
			},4000);
			}
		//点击对应圈，可以切换到指定的页面
		    var lis = document.querySelectorAll(".lunbo_container li");
		    var img = document.querySelector(".lunbo_container img");
		    for(var j=0;j<lis.length;j++){
		    	lis[j].onclick = function(event){
		    		index = event.target.id.substr(event.target.id.indexOf("_")+1)-0;
		    		if(index == 1)
		    		img.src = "{{ url_for('static',filename='img/01.jpg')}}";
		    		if(index == 2)
		    		img.src = "{{ url_for('static',filename='img/02.jpg')}}";
		    		if(index == 3)
		    		img.src = "{{ url_for('static',filename='img/03.jpg')}}";
		    		if(index == 4)
		    		img.src = "{{ url_for('static',filename='img/04.jpg')}}";
		    	//修改小圈
		        for(var i=0;i<lis.length;i++){
		        	lis[i].style.borderColor = "silver";
		        }
		        lis[index-1].style.borderColor = "grey";
		    	}
		    }
		</script>

</div>

  <div align="center">
	        <!--<h2>-->
			<!--离线图片：-->
			 <a href="./xxx" style="width:600px;height:60px;background:aqua">离线图片</a>
			<!--</h2>-->
			<!--<h2>-->
			<!--离线视频：-->
			 <a href="./index" style="width:600px;height:60px;background:aqua">离线视频</a>
			<!--</h2>-->
	        <!--<h2>-->
		    <!--实时检测：-->
		     <a href="./stream" style="width:600px;height:60px;background:aqua">实时检测</a>
		    <!--</h2>-->
  </div>

</body>
</html>